.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    margin-bottom: 1rem;
  }

  .goldenUnderLine {
    width: 15%;
    border: 2px solid #caae5f;
    margin-bottom: 4rem;
  }

  .infoContent {
    display: flex;
    justify-content: space-around;
    width: 90%;

    .infoText {
      width: 60%;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 600;

      ul {
        height: 100%;

        li {
          display: flex;
          align-items: center;
          height: 33%;

          .icon {
            margin-right: 0.5rem;
            width: 10%;
            height: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .mail {
            background-image: url(./Images/MailIcon.png);
            height: 40%;
          }

          .phone {
            background-image: url(./Images/PhoneIcon.png);
          }

          .location {
            background-image: url(./Images/Location.png);
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }

    .mapBG {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #caae5f;

      iframe {
        width: 96%;
        height: 93%;
      }
    }
  }
}

//Tablets

@media screen and (min-width: 800px) and (max-width: 1023px) {
}

//Phones

@media screen and (max-width: 800px) {
  .info {
    .title {
      font-size: 2rem;
      font-weight: 600;
    }

    .goldenUnderLine {
      margin-bottom: 2rem;
    }

    .infoContent {
      display: flex;
      justify-content: space-around;
      width: 90%;
      flex-direction: column;

      .infoText {
        width: 100%;
        height: 8rem;

        ul {
          height: 100%;
          margin: 1rem 0rem;

          li {
            height: 29%;

            .icon {
              margin-right: 0.5rem;
              width: 10%;
              height: 50%;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            }

            p {
              font-size: 0.9rem;
            }
          }
        }
      }

      .mapBG {
        height: 50%;
        width: 100%;
      }
    }
  }
}
