.apartmentsList {
  height: 100%;

  .left {
    background-color: #403f3f;
    width: 60%;
    height: 100%;
  }

  .right {
    background-color: white;
    width: 40%;
    height: 100%;
  }
}

//Tablets

@media screen and (min-width: 800px) and (max-width: 1023px) {
}

//Phones

@media screen and (max-width: 800px) {
  .apartmentsList {
    .left {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
}
