.mainContent {
  background-color: #403f3f;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 6rem;

  .container {
    background-color: #323232;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

//Tablets

@media screen and (min-width: 800px) and (max-width: 1023px) {
}

//Phones

@media screen and (max-width: 800px) {
  .mainContent {
    .container {
      background-color: #403f3f;
      width: 100%;
    }
  }
}
