.mainContent {
  background-color: #403f3f;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 6rem;

  .container {
    background-color: #323232;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}
